small_samples/build
small_samples/build_debug
small_samples/build_release
larger_samples/npb_bt/build
larger_samples/npb_bt/build_debug
larger_samples/npb_bt/build_release
larger_samples/ssca2/build
larger_samples/ssca2/build_debug
larger_samples/ssca2/build_release
tools/build
tools/build_debug
tools/build_release
exercises/06/mmul/build
exercises/06/mmul/__pycache__
**.zip
exercises/09/build
exercises/09/data_structure_array.o
exercises/09/data_structure_dummy.o
exercises/09/data_structure_linked_list.o
exercises/09/src/build
exercises/09/src/data_structure_array.o
exercises/09/src/data_structure_dummy.o
exercises/09/src/data_structure_linked_list.o
exercises/09/test
exercises/10/src/build
exercises/10/src/data_structure_tiered_list.o
exercises/10/src/test_data_structure.o
exercises/10/src/test
.ccls-cache/
